
@{
    ViewBag.Title = "Chart";
    Layout = "~/Views/Shared/_Layout.cshtml";
    var articleList = (List<WebApplication1.Models.Article>)ViewBag.ArticleList;
}
@section Style
{

}

<div id="container" style="width:1200px; text-align:center; margin:0 auto;"></div>
<div id="wrapper" style="text-align:center; margin:0 auto;">
    <button id="plain">普通</button>
    <button id="inverted">反转</button>
    <button id="polar">极地图</button>
</div>
<script>
    var chart = Highcharts.chart('container', {
        title: {
            text: '图表变换'
        },
        subtitle: {
            text: '普通的'
        },
        xAxis: {

            categories:[ @{for (int i = 0; i < articleList.Count; i++) {<text>'@articleList[i].Title',</text>}}]
		},
            series: [{
                type: 'column',
                colorByPoint: true,
                data: [@{for (int i = 0; i < articleList.Count; i++) {<text>@articleList[i].Click,</text>}}],
                showInLegend: false
            }]
        });
    // 给 wrapper 添加点击事件
    Highcharts.addEvent(document.getElementById('wrapper'), 'click', function(e) {
        var target = e.target,
				button = null;
        if(target.tagName === 'BUTTON') { // 判断点的是否是 button
            button = target.id;
            switch(button) {
                case 'plain':
                    chart.update({
                        chart: {
                            inverted: false,
                            polar: false
                        },
                        subtitle: {
                            text: '普通的'
                        }
                    });
                    break;
                case 'inverted':
                    chart.update({
                        chart: {
                            inverted: true,
                            polar: false
                        },
                        subtitle: {
                            text: '反转'
                        }
                    });
                    break;
                case 'polar':
                    chart.update({
                        chart: {
                            inverted: false,
                            polar: true
                        },
                        subtitle: {
                            text: '极地图'
                        }
                    });
                    break;
            }
        }
    });</script>