@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}
@section Style
    {
    }

<div id="content" class="row-fluid container">
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">Error</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <h1 class="text-center">Error</h1>
                    <p class="text-center">账号或者密码错误，请重新尝试登录。</p>
                </div>
            </div>
        </div>
    </div>
</div>
