
@{
    ViewBag.Title = "About";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section Style
{
    
}

<div id="content" class="row-fluid container">
    <div class="row bootstrap-admin-no-edges-padding">
        <div class="col-md-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="text-muted bootstrap-admin-box-title">About</div>
                </div>
                <div class="bootstrap-admin-panel-content">
                    <h3>唯有热爱，能抵御岁月漫长</h3>
                    <h3>唯有岁月，能抵御热爱深重</h3>
                </div>
            </div>
        </div>
    </div>
</div>